<h1>Ingredients in this Recipe <%= @recipe.name %></h1>
<% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
<br><%= recipe_ingredient.ingredient.name %>

  <% if @recipe.user === current_user %>
    <%= link_to "Add a Note?", recipe_ingredient_path(recipe_ingredient) %>
  <% end %>

<% end %>
