<h1>Ingredients in this Recipe <%= @recipe.name %></h1>
<% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
<br><%= recipe_ingredient.ingredient.name %>

<%= link_to "Add a Note?", recipe_ingredient_path(recipe_ingredient) %>
<!-- I don't want this type of language in my controller -->
<% end %>
