<h1>Ingredients in the Recipe <%= @recipe.name %></h1>
<p>Cook: <%= link_to @recipe.user.name, user_path(@recipe.user) %></p>
<% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
<br><%= recipe_ingredient.ingredient.name %>

  <% if @recipe.user === current_user %>
    <%= link_to "Add a Note?", recipe_ingredient_path(recipe_ingredient) %>
  <% end %>

<% end %>
