<div class="all-recipes-container">
  <ul class="list-group">
    <% Recipe.all.each do |recipe| %>
      <li class="list-group-item list-group-item-action"><%= link_to recipe.name, recipe_path(recipe) %><br></br></li>
    <% end %>
  </ul>
</div>
<ul class="ulItems"></ul>
<div class="recipeInstructions"></div>
<div class="recipeCategories"></div>


<script type="text/javascript">

function loadRecipe(data) {

  $(".most-ingred-link").text("")
  $(".all-recipes-link").append(`<a href="#" onclick="loadAllRecipes()">See All Recipes</a>`)
  $(".recipe-title").text(data["name"]);
  $(".all-recipes-container").text("");
  data["ingredients"].forEach(function(ingredient) {
    name = ingredient.name
    $(".ulItems").append(`<li>${name}</li>`);
  })
  $(".recipeInstructions").text(data["instructions"]);
  var categories = data["categories"]
  categories.forEach(function(category) {
    $(".recipeCategories").append(`<p>${category.name}</p>`);
  })
  event.preventDefault();
};

function loadAllRecipes() {
  $.get("/recipes.json", function(recipes) {
    console.log("inside all recipes")
    // $(".header-link").innerHTML = "See Recipe with Most Ingredients"
    $(".recipe-title").text("")
    $(".ulItems").text("")
    $(".all-recipes-link").text("")
    $(".most-ingred-link").append(`<a href="#" onclick="loadRecipe()">Recipe Most Ingredients</a>`)
    recipes.forEach(function(recipe) {
      name = recipe.name
      $(".ulItems").append(`<li>${name}</li>`);
    })
    event.preventDefault();
  });
}
$(function () {
  $(".most-ingred-link").on("click", function() {
    $.get("/recipes/most_ingredients", function(recipe) {
      loadRecipe(recipe);

    });
    event.preventDefault();
  });

});
</script>
