<h2><%= @recipe.name %></h2>
<% @recipe.categories.each do |category| %>
  <h3><%= link_to category.name, category_path(category) %></h3><br>
<% end %>
<ul>
  <% @recipe.ingredients.each do |ingredient| %>
  <li><%= ingredient.name %></li>
  <br>
<% end %>
</ul>
<h3>Instructions:</h3>
<p><%= @recipe.instructions %> </p>
