<h1>See All Cooks</h1>
<p><%= link_to 'Sort by Most Prolific',most_recipes_users_path %></p>

<div class="list-group">
  <% @users.each do |user| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= link_to user.name, user_path(user) %>
      <span class="badge badge-primary badge-pill"><%= pluralize(user.recipes_count, "recipe") %></span>
    </li>
  <% end %>
</ul>
</div>
