<h1>See All Cooks</h1>
<p><%= link_to 'Sort by Most Prolific',most_recipes_users_path, class: "most-prolific" %></p>

<div class="users-container"></div>

<div class="list-group">
  <% @users.each do |user| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= link_to user.name, user_path(user) %>
      <span class="badge badge-primary badge-pill"><%= pluralize(user.recipes_count, "recipe") %></span>
    </li>
  <% end %>
</ul>
</div>


<script type="text/javascript">

function User(name, recipes) {
  this.name = name
  this.recipes = recipes
  this.recipes_count = recipes_count
};

User.prototype.formatUser= function() {
  userHTML = `<li>${this.name}</li><p>New format</p>`
  return userHTML
};

User.prototype.formatRecipes = function() {
  recipeHTML = `<ul>${this.recipes}.each do |recipe| </ul><li>${recipe.name}</li>`
  return recipeHTML
}

$(function () {
  $('.most-prolific').on("click", function() {
  $.get("/users/most_recipes.json", function(data) {

    data['users'].forEach(function(user) {
      name = data["user"]["name"]
      $(".users-container").append(name);
    });
  event.preventDefault();
  });
});

</script>
