<h3><%= @user.name %> made <%= pluralize(@user.recipes_count, "recipe") %></h3>

<% if !@user.recipes.empty? %>
  <ul> <% @user.recipes.each do |recipe| %>
    <li><%= link_to recipe.name, recipe_path(recipe) %> </li>
    <% end %>
  </ul>
<% else %>
  <p><%= "This user has no recipes yet." %></p>
<% end %>
