<h3>User: <%= @user.name %>, <%= @user.email %> </h3>

<% @user.recipes.each do |recipe| %>
<p> - <%= link_to recipe.name, recipe_path(recipe) %>
  <% if current_user == @user %>
   | <%= link_to "Edit", edit_recipe_path(recipe) %></p>
  <% end %>
<% end %>
