<div>
  <h2>All Ingredients</h2>
  <div class="list-group">
    <% Ingredient.all.each do |ingredient| %>
      <li class="list-group-item list-group-item-action"><%= "#{ingredient.name}" %> <small><%= link_to pluralize(ingredient.recipes.count, "recipe"), ingredient_path(ingredient) %></small></li>
    <% end %>
  </ul>
  </div>
</div>
