<div>
  <h2>All Ingredients</h2>
  <p><%= link_to 'Sort by Name',sort_ABC_ingredients_path %></p>
  <div class="list-group">
    <% Ingredient.all.each do |ingredient| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <%= link_to ingredient.name, ingredient_path(ingredient) %>
        <span class="badge badge-primary badge-pill"><%= pluralize(ingredient.recipes.count, "recipe") %></span>
      </li>
    <% end %>
  </ul>
  </div>
</div>
