<div class = "nav_subnav">
  <%= link_to 'See All Recipes', recipes_path, class: "text-success" %>
| <%= link_to 'See All Ingredients', ingredients_path, class: "text-success" %>
| <%= link_to 'See All Categories', categories_path, class: "text-success" %>
| <%= link_to 'Create New Recipe', new_recipe_path, class: "text-success" %>
</div>
